
    #tabs10 {
      float:left;
      width:auto;
      font-size:93%;
      line-height:normal;
      padding-top:42px;
    }
    #tabs10 ul {
      margin:0;
      padding:10px 10px 0 30px;
      list-style:none;
    }
    #tabs10 li {
      display:inline;
      margin:0;
      padding:0;
    }
    #tabs10 span a {
      float:left;
      abackground:url("tableft10.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs10 span {
      float:left;
      display:block;
      background:url("tabright10.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs10 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs9 span a:hover {
      color:#FFF;
      }
    #tabs10 a:hover {
      background-position:0% -42px;
      }
    #tabs10 span a:hover {
      background-position:100% -42px;
      }

      #tabs10 #current span {
              background-position:0% -42px;
      }
      #tabs10 #current span a {
              background-position:100% -42px;
      }